.parent{
    width: 800px;
    background-color: rgb(215, 212, 212);
    text-align: center;
    margin: 30px auto;
}

.parent div{
    background-color: rgb(169, 169, 169);
    margin-left: 15px;
    margin-top: 15px;
    padding: 20px 0;
    float: left;
    height: calc((100% - 5 * 15px) / 4);
}

.d1{
    width: calc(100% - 2 * 15px);
}

.d2{
    width: calc((100% - 4 * 15px) / 3);
    margin-left: 15px;
}

.d3{
    width: calc((100% - 3 * 15px) / 2);
}

.d4{
    width: calc((100% - 5 * 15px) / 4);
    margin-bottom: 15px;
}

.clear{
    clear: both;
}